<footer>
  <div>
    <div class="footer_links">
      <div class="brand">
        <span>임선아 소개 개인 사이트</span>
      </div>
      <div class="sns">
        <a href="https://github.com/tjsk002" target="_blank" title="깃 바로가기">
          <img src="assets/image/main/github.png" alt="깃(git)">
        </a>
<!--        <a href="javascript:void(0);" title="블로그 바로가기">-->
        <a href="https://blog.naver.com/tjsk002" target="_blank" title="블로그 바로가기">
          <img src="assets/image/main/blog.png" alt="블로그">
        </a>
      </div>
    </div>
    <div class="info">
      <span><strong>임선아</strong></span>
      <span>이메일 tjsk002@naver.com</span>
      <span class="visual_pc">카카오톡 ssssa111</span>
    </div>
  </div>
</footer>
