<footer>
  <div>
    <div class="footer_links">
      <div class="brand">
        <span>000 소개 개인 사이트</span>
      </div>
      <div class="sns">
        <a href="mailto:opzyra@gmail.com" title="이메일">
          <img src="assets/image/main/mail.png" alt="이메일">
        </a>
        <a href="javascript:void(0);" title="카카오톡">
          <img src="assets/image/main/kakao.png" alt="카카오톡">
        </a>
      </div>
    </div>
    <div class="info">
      <span><strong>000</strong></span>
      <span>이메일 josebp45@naver.com</span>
      <span class="visual_pc">카카오톡 josebp45</span>
    </div>
  </div>
</footer>
