<main id="contents" class="project">
  <div>
    <section class="location">
      <div>
        <p>
          <span class="path">현재 화면 위치</span>
          <span class="path on">스킬</span>
        </p>
      </div>
    </section>
<!--    <section class="title">-->
<!--      <div>-->
<!--        <h2>-->
<!--          개발을 통해 작은 문제를 해결하고 개선한-->
<!--          <br class="visual_pc">-->
<!--          프로젝트들을 정리 했어요-->
<!--        </h2>-->
<!--      </div>-->
<!--    </section>-->
    <section>
      <div class="skillsFirstBox">
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</main>
