.pointer {
  cursor: pointer;
}

main .location .path {
  margin: 0 14px 0 0;
  position: relative;
}

main > div {
  padding: 40px 0;
}

body, input, select, textarea, button {
  border: none;
  font-size: 12px;
  font-family: 'Spoqa Han Sans', sans-serif;
  color: #333;
  font-weight: 300;
  background: transparent;
}


element.style {
}
main > div {
  padding: 40px 0;
}
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}
* {
  outline: 0 !important;
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
body, input, select, textarea, button {
  border: none;
  font-size: 12px;
  font-family: 'Spoqa Han Sans', sans-serif;
  color: #333;
  font-weight: 300;
  background: transparent;
}
body {
  width: 100%;
  background: #fff;
  min-width: 320px;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
}

.hide, caption, legend {
  line-height: 0;
  font-size: 1px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

main .location {
  margin: 0 0 20px 0;
}

main, header, section, nav, footer, aside, article, figure {
  display: block;
}

main section > div {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

main .location p {
  font-size: 12px;
}

p {
  line-height: 160%;
}

main .location .path {
  margin: 0 14px 0 0;
  position: relative;
}


main .location .path.on {
  color: #004abf;
  font-weight: 500;
}

main .location .path {
  margin: 0 14px 0 0;
  position: relative;
}

/*.alingGrid {*/
/*  align-items: center;*/
/*  display: grid;*/
/*}*/
