<header>
  <div class="header-Box">
    <nav class="header-menu">
      <ul>
        <li class="navActive">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li class="navActive">
          <a [routerLink]="['/introduce']">Introduce</a>
        </li>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/project']">Project</a>
        </li>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/history']">History</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
