<main id="contents" class="project">
  <div>
    <section class="location">
      <div>
        <p>
          <span class="path">현재 화면 위치</span>
          <span class="path on">히스토리</span>
        </p>
      </div>
    </section>
    <section class="title">
      <div>
        <!--        <h2>-->
        <!--          그동안 제가 해온 것들을-->
        <!--          <br class="visual_pc">-->
        <!--          보여드릴게요-->
        <!--        </h2>-->
      </div>
    </section>
    <div class="HistoryTimeline">
      <ul>
        <li>
          <div class="content">
            <p><b>(주)소프트넷 입사</b></p>
            <p>[2021.05-2021.08]<br>inPHR pill 복약시스템 신규 프로젝트 5인 개발 참여</p>
            <img src="assets/image/history/inPHRpill.JPG" alt="메인이미지 테스트">
          </div>
          <div class="time">
            <h4>2021.04</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>메가박스 클론 프로젝트 참여</b></p>
            <p>[2020.05-2020.06] <br>기존에 있는 실제 메가박스 <br>웹 페이지 주 기능기반 6인 클론 개발 참여</p>
            <img src="assets/image/history/megabox.JPG" alt="메인이미지 테스트">
          </div>
          <div class="time">
            <h4>2020.05</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>코리아 IT 아카데미 학원</b></p>
            <p>[2019.09-2020.06] <br>JAVA1-2, Python, 웹개발 1-5, 프론트엔드 3-5</p>
          </div>
          <div class="time">
            <h4>2019.09</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>컴퓨터 그래픽스 운용기능사 자격증 취득</b></p>
            <p>디자인 관련 자격증 (포토샵, 일러스트)</p>
          </div>
          <div class="time">
            <h4>2019.06</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>SBS 아카데미 컴퓨터 아트 학원</b></p>
            <p><span class="history_tc">[2018.08-2019.01]<br>웹1-3, UIUX 디자인</span></p>
            <!--            <img src="/resources/frontend/images/history_img2.png" width="100%">-->
          </div>
          <div class="time">
            <h4>2018.08</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>대학 졸업</b></p>
            <p><span class="history_tc">초콜릿 패키지 디자인, 광고 포스터 졸업 전시</span></p>
            <!--            <img src="/resources/frontend/images/history_img2.png" width="100%">-->
          </div>
          <div class="time">
            <h4>2018</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>봉사활동 30시간</b></p>
            <p><span class="history_tc">[2017.12-2018.02]<br> 글마루 도서관, 안내데스크, 아름다운 가게 외 7건</span></p>
          </div>
          <div class="time">
            <h4>2017.12</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>(주)씨앤디자인 입사</b></p>
            <p><span class="history_tc">[2017.09-2018.08]<br>편집디자인(신문, 브로슈어, 포스터 등)</span></p>
          </div>
          <div class="time">
            <h4>2017.09</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>(주)아이유마 인턴</b></p>
            <p><span class="history_tc">[2017.04-2017.07]<br>편집디자인, 웹디자인, 촬영업무</span></p>
          </div>
          <div class="time">
            <h4>2017.04</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>GTQ 포토샵 1급 자격증 취득</b></p>
            <!--            <img src="/resources/frontend/images/history_img4.png">-->
          </div>
          <div class="time">
            <h4>2016.03</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b>2013 대학 입학</b></p>
            <p>시각정보 디자인 전공</p>
          </div>
          <div class="time">
            <h4>2013</h4>
          </div>
        </li>
        <div style="clear:both;"></div>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</main>
