<main id="contents" class="project">
  <div>
    <section class="location">
      <div>
        <p>
          <span class="path">현재 화면 위치</span>
          <span class="path on">히스토리</span>
        </p>
      </div>
    </section>
    <section class="title">
      <div>
        <h2>
          개발을 통해 작은 문제를 해결하고 개선한
          <br class="visual_pc">
          프로젝트들을 정리 했어요
        </h2>
      </div>
    </section>
    <div class="HistoryTimeline">
      <ul>
        <li>
          <div class="content">
            <p><b> - (주)소프트넷 입사</b></p>
            <p>inPHR pill 복약시스템 프로젝트 참여</p>
          </div>
          <div class="time">
            <h4>2021.04~</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b> - 과학기술정보통신부의 코로나 극복기여</b></p>
            <p><span class="history_tc">'4월의 데이터 우수사례 선정'</span></p>
            <p>우수사례 대상 : 소프트넷 생활치료센터</p>
            <p><span class="history_tc">‘스마트모니터링 시스템’</span></p>
            <img src="assets/image/main/mainTestImg.jpg" alt="메인이미지 테스트">
          </div>
          <div class="time">
            <h4>2020.03</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <p><b> - 라이프로그 기반 환자 증상 관리 앱 2종 출시</b></p>
            <p>염증성장질환자  증상관리 앱 출시(<span class="history_tc">inPHRibd</span>)</p>
            <p>(고려대학병원, 소화기내과 임상 중)</p>
            <p>소아비만대상 비만관리 앱 출시(<span class="history_tc">inPHRchild</span>)</p>
            <p>(고려대학병원 소아비만 클리닉 사용 중)</p>
          </div>
          <div class="time">
            <h4>2020.09</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <p><b> - 지식 서비스 산업 핵심 기술 개발</b></p>
            <p><b>서비스 산업 융합 고도화 기술 개발 사업 주관사 선정</b></p>
            <p>개인 주도형 통합관리시스템 개발 및 실증 수행</p>
          </div>
          <div class="time">
            <h4>2020.07</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <p>- 창의산업 미래성장동력 PHR 기반 개인맞춤형 건강관리시스템사업 주관기업 선정</p>
            <p>“염증성장질환 개인주도형 라이프케어 맞춤형 건강관리 서비스플랫폼 개발 및 실증”</p>
          </div>
          <div class="time">
            <h4>2019</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <p>- AI 기반 항생제 추천 시스템 개발 사업 수행</p>
            <p><span class="history_tc">“고려대학병원 – SK 합동 프로젝트”</span></p>
<!--            <img src="/resources/frontend/images/history_img2.png" width="100%">-->
          </div>
          <div class="time">
            <h4>2018</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <p>- 국가전략 프로젝트</p>
            <p><span class="history_tc">“정밀의료 – 병원정보시스템(P-HIS)”</span> 참여기업 선정</p>
          </div>
          <div class="time">
            <h4>2017</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <p>- MS Azure 골드파트너 선정</p>
<!--            <img src="/resources/frontend/images/history_img4.png">-->
          </div>
          <div class="time">
            <h4>2016</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <p>- 한국의료기술 제공을 위한</p>
            <p><span class="history_tc">“PHR 기반 개방형 원격 의료 플랫폼”</span> R&amp;D 사업수행</p>
          </div>
          <div class="time">
            <h4>2015</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <p>- 전남대병원 국제 환자 관리 시스템 납품</p>
            <p>- 해외교포 및 유학생 대상 원격 상담 시스템 개발</p>
            <p>- 글로벌 U-Health 시스템을 위한 UAE 환자 송출 업무 및 유지보수</p>
          </div>
          <div class="time">
            <h4>2014</h4>
          </div>
        </li>

        <li>
          <div class="content">
            <p>- 2013 대학 입학</p>
          </div>
          <div class="time">
            <h4>2013</h4>
          </div>
        </li>

        <div style="clear:both;"></div>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</main>
